*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Berksfile.lock
test/support/Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/
.DS_Store
.kitchen/
.kitchen.local.yml
