# Bundler
/Gemfile.lock
/bin/
/.bundle/
vendor/bundle/
vendor/*

# Berkshelf
/Berksfile.lock
/cookbooks/
/vendor/cookbooks/

# Vagrant
/.vagrant/

# Test Kitchen
.kitchen
/.kitchen.local.yml

# Macs
.DS_Store

/coverage
